*{
  scroll-behavior:auto;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Outfit', sans-serif;
  
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  color:#545965;
  position: relative;
  justify-content: center;
  align-items: center;
}

#app {
  width: 100%;
  margin: 0 auto; 
}

.footerApp {
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  text-align: center;
  bottom: 0;
  align-items: center;
  justify-content: center;
  height: 100px;
 
}

.footerSup{
  background-color: #008391;
  flex: 1; 
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.footerSup img {
  margin: 0 15px;
}

.footerInf{
  background-color: #545965;
  flex: 1; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

@media only screen and (min-width: 1112px) and (max-width: 1366px) {

}

@media only screen and (min-width: 720px) and (max-width: 1111px) and (orientation: portrait) {
  
  body {
    padding-left: 50%;

  }

}