/* Sección Testimonios */


#section-four{
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: relative;
    height: 600px;
    background-color: #EAECF2;
    text-align: center;
}

.cards-section-four{
    display: grid;
    grid-template-rows: 1fr; 
    grid-template-columns: repeat(2, 1fr); 
    gap: 90px;
    font-family: 'Outfit', sans-serif;
    top:50px;

}



.card-sec-four{
    width: 410px;
    height: 310px;
}

.card-sec-four .title-section-two{
    font-size: 35px;
    font-weight: 300;
}

.text-testimonial{
    width: 400px;
    height: 100px;
    font-weight: lighter;
    line-height: 25px;
    padding-bottom: 100px;
    padding-top: 30px;
}

.button-card{ 
    background-color: #7D8291;
    border-radius: 10px;
    color: #FFFFFF;
    width: 200px;
    height: 100px;
    font-size: 12px;
    border: 1px solid #FFFFFF;
    text-decoration: none; 
    align-items: center;
    justify-content: center;
    padding: 20px;
}


#section-four .imgButton{
    width: 15px;
    height: 10px;
    padding-left: 3px;
    margin-top: 60px;
}

.imginf{
    position: absolute;
    bottom:0;
    width: 100%;
}

@media only screen and (max-width: 720px){
    #section-four{
        height: 380px;
    }
    
.card-sec-four .img-card{
    display: none;
}

.cards-section-four{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    margin-top: 150px;
}

.card-sec-four{
    width: 380px;
    margin-top: 60px;
}

.card-sec-four .title-section-two{
    font-size: 35px;
    font-weight: 300;
}

.text-testimonial{
    width: 400px;
    height: 150px;
    line-height: 20px;
    padding-bottom: 0px;
    padding-top: 20px;
    font-size: 12px;
}

.button-card{ 
    height: 100px;
    width: 450px;
    padding: 10px;
}

.text-testimonial{
    height: 80px;
}
}