#section-two{
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #EDEFF4 ;
    text-align: center;
  
}

.bars_menu{
  display:none;
}

.div-title{
    width: 600px;
    text-align: center;
    position: absolute;
    top: 90px;
    
}

 .title-section-two{
    color: #5EA9A9;
    font-size: 35px;
    font-weight: 300;
}

.textInitial{
    line-height: 30px;
    font-weight: 100;
    font-size: 20px;
}

.card {
    width: 100%;
    position: relative;
    display: flex;
    justify-content:center;
    align-items: center;
    margin-bottom: 50px;

}

  .figure{
    width: 350px;
    height: 500px;
    margin-top: 250px;
  }

  .text-content {
    position: relative;
    align-items: center;
    text-align: left;
    width: 400px;
    font-size: 15px;
    text-align: justify;
    margin-left: 50px;
    background-color: #FFFF;
    padding: 30px;
    border-radius: 10px;
    z-index: 1;
    margin-top: 250px;
    font-weight: lighter;
  }


  .polygon{
    z-index: 3;
    margin-right: -80px;
    transform: rotate(0deg);
  }

  .subtitle2{
    font-weight: 400;
    font-size: 20px;
    padding-top: 15px;
  }

  ul {
    list-style-image: url(../assets/vineta.png); 
    padding-left: 20px;
  }

  .description{
    padding-top: 10px;
  }


  .line{
    max-width: 350px;

  }

 /* Para tabletas en orientación horizontal */
 @media only screen and (min-width: 1024px) and (max-width: 1339px) { 
 
  .card {
    display: block;
  }
  
  .textInitial{
    font-size: 18px;
  }
  
  .text-content {
      margin: -20px auto 0;
  }
  
  .figure{
    margin-top: 230px;
  }
  
  .polygon{
    transform: rotate(90deg);
    margin-right: 0px;
  
  }

  /* .text-content {
    margin-left: 50px;
    font-size: 13px;

  }

  .subtitle2{
    font-size: 18px;
    margin-top: 10px;
  }

   .figure{
    width: 350px;
    height: 450px;
    margin-top: 250px;
  } */


}

/* 
@media only screen and (min-width: 1112px) and (max-width: 1365px) {
  
  .card {
    height: 900px;
  }

  .textInitial{
    margin-top: 5px;
  }
  
  .text-content {
      margin-top:200px;
  }
  
 .figure{
    margin-top: 200px;
  } 
  
  .polygon{
    top:0;
    align-self: flex-start;
    margin-right: -70px;
  
  } 
  .subtitle2{
    line-height: 2;
  }

} */

@media only screen and (min-width: 375px) and (max-width: 720px){

  .card {
    display: block;
    
  }

  .div-title{
    width: 400px;
    top: 80px;
  
}
  
  .textInitial{
    font-size: 15px;
    line-height: normal;
  }
  
  .text-content {
      margin: -30px auto 0;
      font-size: 12px;
      width: 350px;
  }
  
  .figure{
    margin-top: 180px;
    width: 250px;
    height: 350px;
  }
  
  .polygon{
    transform: rotate(90deg);
    margin-right: 0px;
  }  

  .subtitle2{
    font-weight: 400;
    font-size: 15px;
    padding-top: 15px;
  }

  .line{
    max-width: 340px;
  }

  
}



/* 
@media only screen and (min-width: 375px) and (max-width: 720px) {
  



}*/


