/* Sección Home */


#section-one {
  display: block;
  margin: 0;
  height: 850px;
  position:relative;
}

.container-carousel{
  position: relative;
  width: 100%;
  height: 950px;
  background-color:#545965;
  overflow: hidden;
  
}

.slider{
  width: 400%;
  height: 100%;
  display: flex;
}

.slider-section{
  width: calc(100% / 4);
  height: 100%;
  opacity: 0.7;

}

.slider-section img{
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.btn-left, 
.btn-right{
  display: flex;
  position: absolute;
  top: 50%;
  font-size: 3rem;
  background-color: transparent;
  border-radius: 30%;
  padding: 10px;
  font-weight: 800;
  cursor: pointer;
  color: white;
  transform: translate(0, -50%);
  transition: 0.5s ease;
  user-select: none;

}

.btn-left:hover,
.btn-right:hover{
  background-color: #54596547;
  color: #008391;
}

.btn-right{
  right: 10px;

}
.btn-left{
  margin-left: 10px;
}

/* Estilos barra de navegación */

.navbar {
  width: 100%; 
  position: fixed;
  background-color: #fefefedb;
  display: flex;
  z-index: 100;
  box-shadow: 0px 4px 4px 0px #00000040;
  justify-content: space-evenly;
  align-items: center;
  left: 0; 
  top: 0;
  right: 0; 
  transition: width 0.3s; 
}

.listNav{
  list-style: none;
  display: flex;
}

.listNav li {
  margin-right: 30px; 
}

.listNav li:last-child {
  margin-right: 0;
}


a {
  font-weight: 100;
  color:#545965;
  text-decoration: inherit;
  font-size: 20px;
  letter-spacing: 0em;
  text-align: left; 
  transition: all 0.3s;
  font-size: 18px;
}

a:hover,
.listNav:hover {
  color: #5EA9A9;
  font-size: 20px;
}

  /* Estilos para el logotipos de la barra de navegación */
  .logo {
    width: 70px;
    height: 70px;
    top: 6px;
    left: 76px
  }
  
  .logopedaNav{
    padding-bottom:20px;
    width: 130px
  }

.imgNavBar 
 {
  text-align: left;
  padding-left: 0;
  align-items: center

} 


/* Estilos para le banner superior */

.banner-contact{
  width: 100%;
  height: 63px;
  background-color: #008391;
  margin-top: 0;
  top: 0;
  z-index: 100;
  position:absolute;
  color: #FFFFFF;
  justify-content: space-between;
  display: flex;
  padding-left: 70px;
  padding-right:70px;
}

.contact-bar {
  display: flex;
  width: 70%;
  align-items: left ;
  justify-content: space-around;
 
}

.contact-item {
  display: flex;
  align-items: center;
  font-size: 15px;
 
}

.icono {
  padding-right: 8px;
  padding-left: 20px;
}

.contact-item p a{
  margin: 0;
  color: #FFFFFF;
  font-size: 15px;
}

.social-icons {
  display: flex;
  gap: 10px;
  color: #FFFFFF;
}

.social-icons a {
  padding-top: 15%;
  text-decoration: none;
  color: #FFFFFF;
  padding-right: 15px;
}
.iconors{
  width: 20px;
  height: 20px;
}

/* Estilos section uno */


.in-section-one{
  line-height: 1.5;
  margin-left: 170px;
  text-align: left;
  position:absolute;
  z-index: 5;
  top: 350px;
}

.logopeda-img{
  width: 550px;
  height: 80px;
  opacity: 0.9px;
}


.text2-section-1{
  font-size: 50px;
  font-weight: 90;
  text-align: left;
  color:#5EA9A9
}

 .text3-section-1{
  font-size: 30px;
  font-weight: 90;
  text-align: left;
  color:#7D8291
}

.img-white{
  width: 100%;
  height: 256px;
  position:absolute;
  bottom: 0; 
  z-index: 3;
}

.img-green{
  width: 100%;
  height: 281px;
  position:absolute;
  bottom:0;
  z-index: 2;
}

@media only screen and (min-width: 1024px) and (max-width: 1339px){ 

  #section-one {

    height: 800px;

  }

  .banner-contact{
    padding-left: 10px;
  }


  .in-section-one{
    margin-left: 70px;
  }

  .logopeda-img{
    width: 450px;
    height: 70px;
  }
  
  
  .text2-section-1{
    font-size: 43px;
    font-weight: 150;
  }
  
  .contact-item {
    font-size: 12px;
   
  }
  
  .contact-item p a{
    font-size: 12px;
  }

  .iconors{
    width: 18px;
    height: 18px;
  }

}
/* 
@media only screen and (min-width: 1112px) and (max-width: 1366px) {

  #section-one {

    height: 850px;

  }
  .banner-contact{
    padding-left: 120px;
  }

  .in-section-one{
    
    margin-left: 250px;
    text-align: left;
    position:absolute;
    z-index: 5;
    top: 350px;
  }

  .btn-left{
    left: 160px;
  }
}

@media only screen and (min-width: 720px) and (max-width: 1111px) and (orientation: portrait) {
  #section-one {
   width: 100%;
  }

  .logopedaNav{
    display: none;
  }

  .banner-contact{
    padding-left: 200px;
  }

  .social-icons {
    padding-right: 200px;
    gap: 5px;
  }

  .in-section-one{
    margin-left: 250px;
  }

  .btn-left{
    left: 180px;
  }

  .btn-right{
    right: 200px;
  }

  .navbar{}


}

 */