#section-six{
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: relative;
    width: 100%;
    height: 600px;
    background-color: #EDEFF4 ;
}

.responsive-version{
    display: none;
}

.cards-six{
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.formContact{
    border: 1px solid #5EA9A9 ;
    border-radius: 10px;
    padding: 10px 50px 30px 50px;
    background-color: #EAECF2;
    margin-top: 150px;
    margin-bottom: 150px;
    display: grid;
    grid-template-columns: 1fr fr;
    grid-row-gap: 20px;
    
}

.formContact .block,
.formContact .blockButton{
    grid-column: 1 / 3;
}

.formContact .blockButton{
    display: flex;
   align-items: center;
   justify-content: center;
}


.formContact button, 
.formContact input, 
.formContact textarea
{
    width: 100%;
    padding: 1px;
    border: none;
    background-color: #EAECF2;
    border-bottom: 1px solid #7D8291;
    outline: none;
    color: #545965
}


#section-six .formContact .title-section-two{
    font-size: 35px;
    font-weight: 300;
    text-align: center;
    width: 100%;
}

.cards-six .card-small{
    padding-left: 30px;
    line-height: 1.5;
}


.tittle-card-Small{
    font-size: 20px;
    font-weight: bolder;
    color: #545965;
    bottom: 0;
}

.text-card-Small{
    font-size: 15px;
    font-weight: lighter;
    padding-bottom: 3px;
}

.formContact .button-card-six {
    width: 100px;
    height: 50px;
    background-color: #008391;
    border-radius: 10px;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    margin-top: 50px;
    font-size: 12px;
}


.formContact .button-card-six:hover,
.formContact .button-card-six:focus {
 color: #545965;

}

.container-img-card-small-card-small {
    width: 30%;
    display: flex;
    justify-content: start;
    align-items: center;

  }


.img-card-small{
    flex-direction: column;
    display: flex;
    justify-content: space-between; 
    height: 200px;

}

.img-contact{
    width: 30px;
    height: 30px;
    margin-left: 90px;
    
}

.img-line{
    width: 70%;
    transform: rotate(0deg);
}

/* Para tabletas en orientación horizontal */
@media only screen and (min-width: 1024px) and (max-width: 1339px){

    #section-six{
        height: 680px;
    }

    .cards-six{
        display: none;
    }

    .responsive-version{
        display: block;
        justify-content: center;
        align-items: center;
        padding: 200px;
    }

    .formContact, .card-small {
        width: 100%; 
        text-align: left; 

      }

    .formContact{
        margin-bottom: 20px;
    }
      
    .card-small{
        display: flex;
        align-items: center;
        text-align: center;
        padding-top: 20px;
    }

    .responsive-version, .container-img-card-small-card-small{
        justify-content: center;
        width: 100%;
    }

    .tittle-card-Small{
        font-size: 18px;
        text-align: center;
    }
    
    .card-small, .text-card-Small{
        font-size: 12px;
    }

    .card-small, .img-contact {
        margin-bottom: 5px;
        margin-left: 0px;
      }

    .mail{
        width: 40px;
    }
      
      .img-line {
        width: 100px;
        transform: rotate(90deg);
        height: 100%;
        margin-left: auto;
        margin-right: auto;
      }
      

}

@media only screen and (min-width: 375px) and (max-width: 720px){
    #section-six{
        height: 880px;
        justify-content: center;
        align-items:center;
    }

    .cards-six{
        display: none;
    }

    #section-six .formContact .title-section-two{
        font-size: 35px;
        font-weight: 300;
        margin-top: 20px;
    }

    .responsive-version{
        display: block;
        justify-content: center;
        align-items: center;
        padding: 50px;
    }


    .formContact{
        margin-bottom: 20px;
    }


    .text-card-Small{
        font-size: 12px;
        font-weight: 200;
    }

    .tittle-card-Small{
        font-size: 18px;
    }
    
 

    .card-small, .img-contact {
        margin-bottom: 0px;
        margin-left: 20px;
        margin-top: 0px;
        margin-right: 20px;
      
      }

      #section-six  .text-container{
        font-size: 18px;
        text-align: left;
        display: flex;
        flex-direction: column;
    }
    
       .contact-small-card a{
        display: flex;
        width: 300px;
        padding-top: 20px;
        
    }

      
    .img-line {
    width: 200px;
    transform: rotate(0deg);
    height: 100%;
    margin-left: 70px;
    }


}