/* Sección Testimonios */


#section-four{
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: relative;
    height: 600px;
    background-color: #EAECF2;
    text-align: center;
}

.cards-section-four{
    display: grid;
    grid-template-rows: 1fr; 
    grid-template-columns: repeat(2, 1fr); 
    gap: 90px;
    font-family: 'Outfit', sans-serif;
    top:50px;

}

.card-sec-four{
    width: 410px;
    height: 310px;
}

.card-sec-four .title-section-two{
    font-size: 30px;
    font-weight: 10;
}

.text-testimonial{
    width: 400px;
    height: 100px;
    font-weight: lighter;
    line-height: 25px;
    padding-bottom: 30px;
}

.button-card{ 
    background-color: #7D8291;
    border-radius: 10px;
    color: #FFFFFF;
    width: 200px;
    height: 100px;
    font-size: 12px;
    border: 1px solid #FFFFFF;
    text-decoration: none; 
    align-items: center;
    justify-content: center;
    padding: 20px;
}


#section-four .imgButton{
    width: 15px;
    height: 10px;
    padding-left: 3px;
    margin-top: 60px;
}

.imginf{
    position: absolute;
    bottom: 0;
}